# https://www.hackerearth.com/problem/machine-learning/bank-fears-loanliness/description/

## Indessa Data Set

In [105]:
import numpy as np
import pandas as pd
df=pd.read_csv('C:\\Users\\abc\\Desktop\\indessa.csv')
df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

### Feature Selection

In [106]:
col1=['member_id', 'loan_amnt','funded_amnt_inv','term','int_rate','grade','sub_grade','emp_length','annual_inc','verification_status','addr_state','dti','delinq_2yrs','inq_last_6mths','mths_since_last_delinq','open_acc','revol_bal','total_acc','total_rec_int','total_rec_late_fee','mths_since_last_major_derog','last_week_pay',
       'tot_coll_amt','acc_now_delinq','tot_cur_bal','total_rev_hi_lim','loan_status']
df2=df[col1]
df2

,member_id,loan_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,annual_inc,verification_status,...,total_acc,total_rec_int,total_rec_late_fee,mths_since_last_major_derog,last_week_pay,tot_coll_amt,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350.00,36 months,19.19,E,E3,9 years,28700.0,Source Verified,...,28.0,1173.84,0.00,74.0,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800.00,36 months,10.99,B,B4,< 1 year,65000.0,Source Verified,...,13.0,83.95,0.00,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000.00,36 months,7.26,A,A4,2 years,45000.0,Not Verified,...,19.0,56.47,0.00,NaN,9th week,65.0,0.0,38295.0,34900.0,0
3,1893936,15000,15000.00,36 months,19.72,D,D5,10+ years,105000.0,Not Verified,...,21.0,4858.62,0.00,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000.00,36 months,10.64,B,B2,10+ years,52000.0,Verified,...,27.0,2296.41,0.00,NaN,96th week,0.0,0.0,47159.0,47033.0,0
5,10247268,15000,14950.00,36 months,8.90,A,A5,2 years,120000.0,Not Verified,...,30.0,1957.24,0.00,NaN,113th week,0.0,0.0,350619.0,29500.0,0
6,8089625,5000,4975.00,36 months,7.90,A,A4,5 years,75000.0,Source Verified,...,23.0,578.36,0.00,NaN,117th week,1023.0,0.0,13272.0,55500.0,1
7,23043116,6000,6000.00,36 months,9.17,B,B1,8 years,54000.0,Not Verified,...,49.0,637.51,0.00,54.0,78th week,0.0,0.0,272579.0,11800.0,0
8,45900933,6000,6000.00,36 months,13.99,C,C4,7 years,92000.0,Not Verified,...,27.0,621.72,0.00,NaN,44th week,0.0,0.0,281521.0,62100.0,0
9,41272507,34550,34550.00,60 months,17.14,D,D4,2 years,72000.0,Verified,...,30.0,5535.46,0.00,NaN,52th week,0.0,0.0,76034.0,33200.0,0
10,56621560,25000,24975.00,36 months,13.33,C,C3,10+ years,135000.0,Source Verified,...,32.0,1551.58,0.00,52.0,26th week,0.0,0.0,72193.0,47000.0,0
11,4221941,15000,15000.00,36 months,18.49,D,D2,4 years,76000.0,Verified,...,30.0,3726.32,0.00,82.0,95th week,0.0,0.0,39152.0,19600.0,1
12,43387539,18000,18000.00,36 months,6.99,A,A3,7 years,62000.0,Not Verified,...,31.0,992.37,0.00,NaN,48th week,0.0,0.0,194011.0,139900.0,0
13,23001903,9000,9000.00,36 months,6.03,A,A1,10+ years,145000.0,Not Verified,...,39.0,633.42,0.00,NaN,78th week,0.0,0.0,165164.0,43000.0,0
14,13670372,8800,8800.00,36 months,13.65,C,C1,10+ years,80000.0,Not Verified,...,17.0,1521.50,0.00,NaN,82th week,0.0,0.0,39634.0,41200.0,1
15,49874851,8000,8000.00,36 months,15.61,D,D1,4 years,50000.0,Source Verified,...,24.0,801.55,0.00,NaN,35th week,0.0,0.0,48488.0,18500.0,0
16,9878144,18450,18450.00,60 months,21.70,E,E2,9 years,69000.0,Source Verified,...,35.0,6269.20,0.00,72.0,96th week,0.0,0.0,71191.0,15900.0,0
17,12866989,30750,30700.00,36 months,16.99,D,D1,NaN,70000.0,Verified,...,35.0,7394.32,0.00,26.0,104th week,0.0,0.0,221335.0,17400.0,0
18,58568833,9000,9000.00,36 months,9.99,B,B3,7 years,60000.0,Source Verified,...,28.0,412.36,0.00,NaN,26th week,0.0,0.0,34538.0,17000.0,0
19,62725253,24000,24000.00,36 months,10.99,B,B4,7 years,130000.0,Verified,...,25.0,833.27,0.00,NaN,17th week,0.0,0.0,125903.0,31000.0,0
20,66791957,20000,20000.00,60 months,17.86,D,D5,9 years,96000.0,Not Verified,...,28.0,843.95,0.00,18.0,13th week,0.0,0.0,66738.0,27200.0,0
21,1699807,12400,12400.00,36 months,6.62,A,A2,2 years,40000.0,Not Verified,...,9.0,0.00,0.00,NaN,NAth week,NaN,0.0,NaN,NaN,0
22,54486146,4200,4200.00,36 months,17.57,D,D4,10+ years,46000.0,Not Verified,...,28.0,394.08,0.00,NaN,31th week,0.0,0.0,282808.0,25700.0,0
23,41408977,10500,10500.00,36 months,13.66,C,C3,7 years,60000.0,Source Verified,...,24.0,845.33,0.00,NaN,30th week,0.0,0.0,71697.0,14300.0,1
24,63047232,16000,16000.00,36 months,7.89,A,A5,< 1 year,65000.0,Source Verified,...,30.0,398.12,0.00,NaN,17th week,0.0,0.0,147448.0,41400.0,0
25,22741274,23800,23800.00,60 months,15.61,D,D1,4 years,70000.0,Source Verified,...,27.0,5008.50,0.00,NaN,78th week,0.0,0.0,327930.0,43400.0,0
26,17563299,7200,7150.00,36 months,12.99,C,C1,2 years,37000.0,Source Verified,...,28.0,1047.06,0.00,47.0,70th week,0.0,0.0,8589.0,19800.0,1
27,10317534,19200,19175.00,36 months,6.62,A,A2,1 year,250000.0,Source Verified,...,23.0,1785.13,0.00,NaN,104th week,0.0,0.0,447388.0,33100.0,1
28,50609137,15000,15000.00,36 months,6.92,A,A4,3 years,90000.0,Verified,...,31.0,624.80,0.00,NaN,35th week,0.0,0.0,114298.0,49900.0,0
29,70008968,4000,4000.00,36 months,17.57,D,D4,2 years,20000.0,Verified,...,9.0,52.71,0.00,NaN,4th week,0.0,0.0,31445.0,10900.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532398,23543780,18000,18000.00,36 months,14.49,C,C4,7 years,75000.0,Not Verified,...,27.0,3119.27,0.00,52.0,78th week,0.0,0.0,429344.0,9000.0,0
532399,16543128,4700,4700.00,36 months,11.99,B,B3,9 years,30000.0,Not Verified,...,21.0,181.26,0.00,NaN,17th week,0.0,0.0,101351.0,7300.0,1
532400,73414202,20000,20000.00,36 months,9.17,B,B2,4 years,94000.0,Not Verified,...,31.0,0.00,0.00,NaN,NAth week,0.0,0.0,69832.0,25900.0,0
532401,54776171,7800,7800.00,36 months,9.99,B,B3,< 1 year,77500.0,Not Verified,...,22.0,417.12,0.00,74.0,31th week,0.0,0.0,46121.0,21200.0,0
532402,52377140,10400,10400.00,36 months,7.26,A,A4,< 1 year,50000.0,Not Verified,...,25.0,402.95,0.00,NaN,31th week,0.0,0.0,116826.0,22400.0,0
532403,59468945,22375,22375.00,60 months,19.19,E,E3,10+ years,128000.0,Verified,...,19.0,1728.66,0.00,NaN,26th week,0.0,0.0,21055.0,13000.0,0
532404,68127956,8000,8000.00,36 months,7.26,A,A4,10+ years,123000.0,Verified,...,59.0,91.11,0.00,70.0,9th week,0.0,0.0,279875.0,51100.0,0
532405,5906972,18000,18000.00,60 months,17.27,C,C5,3 years,62000.0,Verified,...,26.0,4778.11,0.00,NaN,100th week,0.0,0.0,68068.0,27800.0,1
532406,70600730,10000,10000.00,36 months,6.24,A,A2,2 years,56000.0,Not Verified,...,14.0,56.62,0.00,NaN,4th week,0.0,0.0,75747.0,17000.0,0
532407,59780170,16000,16000.00,36 months,7.26,A,A4,10+ years,54000.0,Verified,...,11.0,446.80,0.00,NaN,26th week,0.0,0.0,45671.0,16100.0,0
532408,69555199,7200,7200.00,36 months,9.17,B,B2,10+ years,70000.0,Source Verified,...,21.0,101.37,0.00,NaN,9th week,0.0,0.0,145019.0,26300.0,0
532409,4583654,17625,17625.00,36 months,16.29,C,C4,10+ years,41000.0,Not Verified,...,16.0,4545.31,0.00,NaN,126th week,0.0,0.0,30960.0,33000.0,0
532410,272515,9700,8283.54,36 months,14.82,E,E3,1 year,37500.0,Not Verified,...,30.0,2367.53,0.00,NaN,156th week,NaN,0.0,NaN,NaN,1
532411,10340541,20000,20000.00,36 months,9.67,B,B1,6 years,78000.0,Verified,...,25.0,2295.31,0.00,NaN,78th week,0.0,0.0,166357.0,35800.0,1
532412,48073747,7200,7200.00,36 months,16.55,D,D2,6 years,50000.0,Verified,...,29.0,800.56,0.00,NaN,39th week,0.0,0.0,35503.0,5400.0,0
532413,12956724,19200,19200.00,60 months,19.22,D,D4,10+ years,153000.0,Verified,...,32.0,6206.47,25.02,NaN,100th week,0.0,0.0,556189.0,45100.0,0
532414,26517526,20000,20000.00,36 months,14.49,C,C4,7 years,120000.0,Verified,...,25.0,3178.58,0.00,68.0,70th week,0.0,0.0,36011.0,15900.0,0
532415,965370,10000,10000.00,36 months,7.49,A,A4,6 years,60000.0,Source Verified,...,34.0,1193.39,0.00,NaN,161th week,NaN,0.0,NaN,NaN,1
532416,19786238,1800,1800.00,36 months,16.99,D,D3,10+ years,62000.0,Not Verified,...,30.0,382.60,0.00,NaN,83th week,128.0,0.0,137538.0,42100.0,0
532417,68700956,10000,10000.00,36 months,9.99,B,B3,10+ years,60000.0,Not Verified,...,28.0,158.82,0.00,NaN,9th week,2070.0,0.0,15552.0,18300.0,0
532418,71054913,10000,10000.00,36 months,9.76,B,B3,9 years,54000.0,Source Verified,...,35.0,75.91,0.00,NaN,4th week,890.0,0.0,121294.0,19700.0,0
532419,51774468,4800,4800.00,36 months,11.53,B,B5,< 1 year,45000.0,Not Verified,...,23.0,308.18,0.00,NaN,31th week,0.0,0.0,24985.0,10400.0,0
532420,16661491,5700,5700.00,36 months,14.16,C,C2,9 years,37000.0,Source Verified,...,35.0,67.26,0.00,NaN,4th week,0.0,0.0,89997.0,15600.0,1
532421,32097538,13000,13000.00,60 months,12.99,C,C1,3 years,55000.0,Source Verified,...,25.0,1916.77,0.00,7.0,65th week,0.0,0.0,11231.0,26900.0,0
532422,8219842,10000,10000.00,36 months,14.33,C,C2,10+ years,49900.0,Source Verified,...,17.0,569.12,0.00,NaN,22th week,0.0,0.0,189233.0,24200.0,1
532423,31296187,20000,20000.00,36 months,12.49,B,B5,10+ years,75000.0,Source Verified,...,34.0,2595.45,0.00,NaN,65th week,0.0,0.0,83087.0,24800.0,0
532424,29403184,12000,12000.00,60 months,14.99,C,C5,10+ years,59000.0,Not Verified,...,29.0,2182.92,0.00,NaN,70th week,0.0,0.0,227812.0,17800.0,0
532425,7357607,18725,18725.00,60 months,20.80,E,E1,8 years,42504.0,Verified,...,26.0,645.32,0.00,NaN,9th week,0.0,0.0,26010.0,24200.0,1
532426,23182668,21000,21000.00,60 months,16.29,D,D2,1 year,50000.0,Source Verified,...,14.0,4619.79,0.00,NaN,78th week,0.0,0.0,29197.0,23300.0,0
532427,46122259,10000,10000.00,36 months,6.39,A,A2,< 1 year,53000.0,Not Verified,...,20.0,467.52,0.00,NaN,44th week,0.0,0.0,47866.0,21700.0,0

In [107]:
df2.isna().sum()   # check the null values in the feature

member_id                           0
loan_amnt                           0
funded_amnt_inv                     0
term                                0
int_rate                            0
grade                               0
sub_grade                           0
emp_length                      26891
annual_inc                          3
verification_status                 0
addr_state                          0
dti                                 0
delinq_2yrs                        16
inq_last_6mths                     16
mths_since_last_delinq         272554
open_acc                           16
revol_bal                           0
total_acc                          16
total_rec_int                       0
total_rec_late_fee                  0
mths_since_last_major_derog    399448
last_week_pay                       0
tot_coll_amt                    42004
acc_now_delinq                     16
tot_cur_bal                     42004
total_rev_hi_lim                42004
loan_status                         0
dtype: int64

In [108]:
df2.dtypes   #find the data type pf all the feature

member_id                        int64
loan_amnt                        int64
funded_amnt_inv                float64
term                            object
int_rate                       float64
grade                           object
sub_grade                       object
emp_length                      object
annual_inc                     float64
verification_status             object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
inq_last_6mths                 float64
mths_since_last_delinq         float64
open_acc                       float64
revol_bal                      float64
total_acc                      float64
total_rec_int                  float64
total_rec_late_fee             float64
mths_since_last_major_derog    float64
last_week_pay                   object
tot_coll_amt                   float64
acc_now_delinq                 float64
tot_cur_bal                    float64
total_rev_hi_lim               float64
loan_status                      int64
dtype: object

In [125]:
# Clean the Data:

In [109]:
print('Clean Term')
df2['term'].replace(to_replace=' months',value='',regex=True,inplace=True)
df2['term']=pd.to_numeric(df2['term'],errors='coerce')    #-----> to convert string to numeric. errors=coerce is to ignore the errors

Clean Term

C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [110]:
df2['term']

0         36
1         36
2         36
3         36
4         36
5         36
6         36
7         36
8         36
9         60
10        36
11        36
12        36
13        36
14        36
15        36
16        60
17        36
18        36
19        36
20        60
21        36
22        36
23        36
24        36
25        60
26        36
27        36
28        36
29        36
          ..
532398    36
532399    36
532400    36
532401    36
532402    36
532403    60
532404    36
532405    60
532406    36
532407    36
532408    36
532409    36
532410    36
532411    36
532412    36
532413    60
532414    36
532415    36
532416    36
532417    36
532418    36
532419    36
532420    36
532421    60
532422    36
532423    36
532424    60
532425    60
532426    60
532427    36
Name: term, Length: 532428, dtype: int64

In [112]:
df2['emp_length']=df2['emp_length'].str.replace("years|year"," ").str.replace("<","").str.replace(" ","").str.replace("+","")
df2['emp_length']=pd.to_numeric(df2['emp_length'],errors='coerce')

#downcast="integer" ---> if we give this, we will get dtype as int
#df2['emp_length'].value_counts(dropna=False)

C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [113]:
df2['emp_length'].fillna(0,inplace=True)
df2['emp_length']

0          9.0
1          1.0
2          2.0
3         10.0
4         10.0
5          2.0
6          5.0
7          8.0
8          7.0
9          2.0
10        10.0
11         4.0
12         7.0
13        10.0
14        10.0
15         4.0
16         9.0
17         0.0
18         7.0
19         7.0
20         9.0
21         2.0
22        10.0
23         7.0
24         1.0
25         4.0
26         2.0
27         1.0
28         3.0
29         2.0
          ...
532398     7.0
532399     9.0
532400     4.0
532401     1.0
532402     1.0
532403    10.0
532404    10.0
532405     3.0
532406     2.0
532407    10.0
532408    10.0
532409    10.0
532410     1.0
532411     6.0
532412     6.0
532413    10.0
532414     7.0
532415     6.0
532416    10.0
532417    10.0
532418     9.0
532419     1.0
532420     9.0
532421     3.0
532422    10.0
532423    10.0
532424    10.0
532425     8.0
532426     1.0
532427     1.0
Name: emp_length, Length: 532428, dtype: float64

In [114]:
df2['last_week_pay']=df2['last_week_pay'].str.replace("th week|NA","")
df2['last_week_pay']=pd.to_numeric(df2['last_week_pay'],errors='coerce')

C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
df2['last_week_pay'].fillna(0,inplace=True)
df2['last_week_pay']

0          26.0
1           9.0
2           9.0
3         135.0
4          96.0
5         113.0
6         117.0
7          78.0
8          44.0
9          52.0
10         26.0
11         95.0
12         48.0
13         78.0
14         82.0
15         35.0
16         96.0
17        104.0
18         26.0
19         17.0
20         13.0
21          0.0
22         31.0
23         30.0
24         17.0
25         78.0
26         70.0
27        104.0
28         35.0
29          4.0
          ...
532398     78.0
532399     17.0
532400      0.0
532401     31.0
532402     31.0
532403     26.0
532404      9.0
532405    100.0
532406      4.0
532407     26.0
532408      9.0
532409    126.0
532410    156.0
532411     78.0
532412     39.0
532413    100.0
532414     70.0
532415    161.0
532416     83.0
532417      9.0
532418      4.0
532419     31.0
532420      4.0
532421     65.0
532422     22.0
532423     65.0
532424     70.0
532425      9.0
532426     78.0
532427     44.0
Name: last_week_pay, Length: 532428, dtype: float64

In [116]:
df2.isna().any()

member_id                      False
loan_amnt                      False
funded_amnt_inv                False
term                           False
int_rate                       False
grade                          False
sub_grade                      False
emp_length                     False
annual_inc                      True
verification_status            False
addr_state                     False
dti                            False
delinq_2yrs                     True
inq_last_6mths                  True
mths_since_last_delinq          True
open_acc                        True
revol_bal                      False
total_acc                       True
total_rec_int                  False
total_rec_late_fee             False
mths_since_last_major_derog     True
last_week_pay                  False
tot_coll_amt                    True
acc_now_delinq                  True
tot_cur_bal                     True
total_rev_hi_lim                True
loan_status                    False
dtype: bool

In [117]:
# Filling the column with values (mean or mode)

In [118]:
df2['annual_inc'].fillna((df2['annual_inc'].mean()),inplace=True)
df2['tot_cur_bal'].fillna((df2['tot_cur_bal'].mean()),inplace=True)
df2['total_rev_hi_lim'].fillna((df2['total_rev_hi_lim'].mean()),inplace=True)

In [119]:
df2['mths_since_last_major_derog'].fillna((df2['mths_since_last_major_derog'].mode()[0]),inplace=True)    # generally mode[0] is given to replace al the values of nan to mode. we have to index in the series in mode
df2['acc_now_delinq'].fillna((df2['acc_now_delinq'].mode()[0]),inplace=True)
df2['delinq_2yrs'].fillna((df2['delinq_2yrs'].mode()[0]),inplace=True)
df2['inq_last_6mths'].fillna((df2['inq_last_6mths'].mode()[0]),inplace=True)
df2['mths_since_last_delinq'].fillna((df2['mths_since_last_delinq'].mode()[0]),inplace=True)
df2['open_acc'].fillna((df2['open_acc'].mode()[0]),inplace=True)
df2['total_acc'].fillna((df2['total_acc'].mode()[0]),inplace=True)
df2['tot_coll_amt'].fillna((df2['tot_coll_amt'].mode()[0]),inplace=True)

In [120]:
df2.isnull().any()

member_id                      False
loan_amnt                      False
funded_amnt_inv                False
term                           False
int_rate                       False
grade                          False
sub_grade                      False
emp_length                     False
annual_inc                     False
verification_status            False
addr_state                     False
dti                            False
delinq_2yrs                    False
inq_last_6mths                 False
mths_since_last_delinq         False
open_acc                       False
revol_bal                      False
total_acc                      False
total_rec_int                  False
total_rec_late_fee             False
mths_since_last_major_derog    False
last_week_pay                  False
tot_coll_amt                   False
acc_now_delinq                 False
tot_cur_bal                    False
total_rev_hi_lim               False
loan_status                    False
dtype: bool

In [121]:
df2['verification_status'].replace(to_replace='Source Verified',value='Verified',regex=True,inplace=True)  #make source verified as verified. hence, verification status is classified as Verified and Not Verified

In [122]:
df2['verification_status']=df2['verification_status'].map({'Verified':'0','Not Verified':'1'})   #making the categorial features to numeric

C:\Users\abc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [123]:
df2['verification_status'].value_counts()

0    372452
1    159976
Name: verification_status, dtype: int64

In [124]:
df2

,member_id,loan_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,annual_inc,verification_status,...,total_acc,total_rec_int,total_rec_late_fee,mths_since_last_major_derog,last_week_pay,tot_coll_amt,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350.00,36,19.19,E,E3,9.0,28700.0,0,...,28.0,1173.84,0.00,74.0,26.0,0.0,0.0,28699.000000,30800.000000,0
1,70011223,4800,4800.00,36,10.99,B,B4,1.0,65000.0,0,...,13.0,83.95,0.00,45.0,9.0,0.0,0.0,9974.000000,32900.000000,0
2,70255675,10000,10000.00,36,7.26,A,A4,2.0,45000.0,1,...,19.0,56.47,0.00,45.0,9.0,65.0,0.0,38295.000000,34900.000000,0
3,1893936,15000,15000.00,36,19.72,D,D5,10.0,105000.0,1,...,21.0,4858.62,0.00,45.0,135.0,0.0,0.0,55564.000000,24700.000000,0
4,7652106,16000,16000.00,36,10.64,B,B2,10.0,52000.0,0,...,27.0,2296.41,0.00,45.0,96.0,0.0,0.0,47159.000000,47033.000000,0
5,10247268,15000,14950.00,36,8.90,A,A5,2.0,120000.0,1,...,30.0,1957.24,0.00,45.0,113.0,0.0,0.0,350619.000000,29500.000000,0
6,8089625,5000,4975.00,36,7.90,A,A4,5.0,75000.0,0,...,23.0,578.36,0.00,45.0,117.0,1023.0,0.0,13272.000000,55500.000000,1
7,23043116,6000,6000.00,36,9.17,B,B1,8.0,54000.0,1,...,49.0,637.51,0.00,54.0,78.0,0.0,0.0,272579.000000,11800.000000,0
8,45900933,6000,6000.00,36,13.99,C,C4,7.0,92000.0,1,...,27.0,621.72,0.00,45.0,44.0,0.0,0.0,281521.000000,62100.000000,0
9,41272507,34550,34550.00,60,17.14,D,D4,2.0,72000.0,0,...,30.0,5535.46,0.00,45.0,52.0,0.0,0.0,76034.000000,33200.000000,0
10,56621560,25000,24975.00,36,13.33,C,C3,10.0,135000.0,0,...,32.0,1551.58,0.00,52.0,26.0,0.0,0.0,72193.000000,47000.000000,0
11,4221941,15000,15000.00,36,18.49,D,D2,4.0,76000.0,0,...,30.0,3726.32,0.00,82.0,95.0,0.0,0.0,39152.000000,19600.000000,1
12,43387539,18000,18000.00,36,6.99,A,A3,7.0,62000.0,1,...,31.0,992.37,0.00,45.0,48.0,0.0,0.0,194011.000000,139900.000000,0
13,23001903,9000,9000.00,36,6.03,A,A1,10.0,145000.0,1,...,39.0,633.42,0.00,45.0,78.0,0.0,0.0,165164.000000,43000.000000,0
14,13670372,8800,8800.00,36,13.65,C,C1,10.0,80000.0,1,...,17.0,1521.50,0.00,45.0,82.0,0.0,0.0,39634.000000,41200.000000,1
15,49874851,8000,8000.00,36,15.61,D,D1,4.0,50000.0,0,...,24.0,801.55,0.00,45.0,35.0,0.0,0.0,48488.000000,18500.000000,0
16,9878144,18450,18450.00,60,21.70,E,E2,9.0,69000.0,0,...,35.0,6269.20,0.00,72.0,96.0,0.0,0.0,71191.000000,15900.000000,0
17,12866989,30750,30700.00,36,16.99,D,D1,0.0,70000.0,0,...,35.0,7394.32,0.00,26.0,104.0,0.0,0.0,221335.000000,17400.000000,0
18,58568833,9000,9000.00,36,9.99,B,B3,7.0,60000.0,0,...,28.0,412.36,0.00,45.0,26.0,0.0,0.0,34538.000000,17000.000000,0
19,62725253,24000,24000.00,36,10.99,B,B4,7.0,130000.0,0,...,25.0,833.27,0.00,45.0,17.0,0.0,0.0,125903.000000,31000.000000,0
20,66791957,20000,20000.00,60,17.86,D,D5,9.0,96000.0,1,...,28.0,843.95,0.00,18.0,13.0,0.0,0.0,66738.000000,27200.000000,0
21,1699807,12400,12400.00,36,6.62,A,A2,2.0,40000.0,1,...,9.0,0.00,0.00,45.0,0.0,0.0,0.0,139554.110792,32080.572919,0
22,54486146,4200,4200.00,36,17.57,D,D4,10.0,46000.0,1,...,28.0,394.08,0.00,45.0,31.0,0.0,0.0,282808.000000,25700.000000,0
23,41408977,10500,10500.00,36,13.66,C,C3,7.0,60000.0,0,...,24.0,845.33,0.00,45.0,30.0,0.0,0.0,71697.000000,14300.000000,1
24,63047232,16000,16000.00,36,7.89,A,A5,1.0,65000.0,0,...,30.0,398.12,0.00,45.0,17.0,0.0,0.0,147448.000000,41400.000000,0
25,22741274,23800,23800.00,60,15.61,D,D1,4.0,70000.0,0,...,27.0,5008.50,0.00,45.0,78.0,0.0,0.0,327930.000000,43400.000000,0
26,17563299,7200,7150.00,36,12.99,C,C1,2.0,37000.0,0,...,28.0,1047.06,0.00,47.0,70.0,0.0,0.0,8589.000000,19800.000000,1
27,10317534,19200,19175.00,36,6.62,A,A2,1.0,250000.0,0,...,23.0,1785.13,0.00,45.0,104.0,0.0,0.0,447388.000000,33100.000000,1
28,50609137,15000,15000.00,36,6.92,A,A4,3.0,90000.0,0,...,31.0,624.80,0.00,45.0,35.0,0.0,0.0,114298.000000,49900.000000,0
29,70008968,4000,4000.00,36,17.57,D,D4,2.0,20000.0,0,...,9.0,52.71,0.00,45.0,4.0,0.0,0.0,31445.000000,10900.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532398,23543780,18000,18000.00,36,14.49,C,C4,7.0,75000.0,1,...,27.0,3119.27,0.00,52.0,78.0,0.0,0.0,429344.000000,9000.000000,0
532399,16543128,4700,4700.00,36,11.99,B,B3,9.0,30000.0,1,...,21.0,181.26,0.00,45.0,17.0,0.0,0.0,101351.000000,7300.000000,1
532400,73414202,20000,20000.00,36,9.17,B,B2,4.0,94000.0,1,...,31.0,0.00,0.00,45.0,0.0,0.0,0.0,69832.000000,25900.000000,0
532401,54776171,7800,7800.00,36,9.99,B,B3,1.0,77500.0,1,...,22.0,417.12,0.00,74.0,31.0,0.0,0.0,46121.000000,21200.000000,0
532402,52377140,10400,10400.00,36,7.26,A,A4,1.0,50000.0,1,...,25.0,402.95,0.00,45.0,31.0,0.0,0.0,116826.000000,22400.000000,0
532403,59468945,22375,22375.00,60,19.19,E,E3,10.0,128000.0,0,...,19.0,1728.66,0.00,45.0,26.0,0.0,0.0,21055.000000,13000.000000,0
532404,68127956,8000,8000.00,36,7.26,A,A4,10.0,123000.0,0,...,59.0,91.11,0.00,70.0,9.0,0.0,0.0,279875.000000,51100.000000,0
532405,5906972,18000,18000.00,60,17.27,C,C5,3.0,62000.0,0,...,26.0,4778.11,0.00,45.0,100.0,0.0,0.0,68068.000000,27800.000000,1
532406,70600730,10000,10000.00,36,6.24,A,A2,2.0,56000.0,1,...,14.0,56.62,0.00,45.0,4.0,0.0,0.0,75747.000000,17000.000000,0
532407,59780170,16000,16000.00,36,7.26,A,A4,10.0,54000.0,0,...,11.0,446.80,0.00,45.0,26.0,0.0,0.0,45671.000000,16100.000000,0
532408,69555199,7200,7200.00,36,9.17,B,B2,10.0,70000.0,0,...,21.0,101.37,0.00,45.0,9.0,0.0,0.0,145019.000000,26300.000000,0
532409,4583654,17625,17625.00,36,16.29,C,C4,10.0,41000.0,1,...,16.0,4545.31,0.00,45.0,126.0,0.0,0.0,30960.000000,33000.000000,0
532410,272515,9700,8283.54,36,14.82,E,E3,1.0,37500.0,1,...,30.0,2367.53,0.00,45.0,156.0,0.0,0.0,139554.110792,32080.572919,1
532411,10340541,20000,20000.00,36,9.67,B,B1,6.0,78000.0,0,...,25.0,2295.31,0.00,45.0,78.0,0.0,0.0,166357.000000,35800.000000,1
532412,48073747,7200,7200.00,36,16.55,D,D2,6.0,50000.0,0,...,29.0,800.56,0.00,45.0,39.0,0.0,0.0,35503.000000,5400.000000,0
532413,12956724,19200,19200.00,60,19.22,D,D4,10.0,153000.0,0,...,32.0,6206.47,25.02,45.0,100.0,0.0,0.0,556189.000000,45100.000000,0
532414,26517526,20000,20000.00,36,14.49,C,C4,7.0,120000.0,0,...,25.0,3178.58,0.00,68.0,70.0,0.0,0.0,36011.000000,15900.000000,0
532415,965370,10000,10000.00,36,7.49,A,A4,6.0,60000.0,0,...,34.0,1193.39,0.00,45.0,161.0,0.0,0.0,139554.110792,32080.572919,1
532416,19786238,1800,1800.00,36,16.99,D,D3,10.0,62000.0,1,...,30.0,382.60,0.00,45.0,83.0,128.0,0.0,137538.000000,42100.000000,0
532417,68700956,10000,10000.00,36,9.99,B,B3,10.0,60000.0,1,...,28.0,158.82,0.00,45.0,9.0,2070.0,0.0,15552.000000,18300.000000,0
532418,71054913,10000,10000.00,36,9.76,B,B3,9.0,54000.0,0,...,35.0,75.91,0.00,45.0,4.0,890.0,0.0,121294.000000,19700.000000,0
532419,51774468,4800,4800.00,36,11.53,B,B5,1.0,45000.0,1,...,23.0,308.18,0.00,45.0,31.0,0.0,0.0,24985.000000,10400.000000,0
532420,16661491,5700,5700.00,36,14.16,C,C2,9.0,37000.0,0,...,35.0,67.26,0.00,45.0,4.0,0.0,0.0,89997.000000,15600.000000,1
532421,32097538,13000,13000.00,60,12.99,C,C1,3.0,55000.0,0,...,25.0,1916.77,0.00,7.0,65.0,0.0,0.0,11231.000000,26900.000000,0
532422,8219842,10000,10000.00,36,14.33,C,C2,10.0,49900.0,0,...,17.0,569.12,0.00,45.0,22.0,0.0,0.0,189233.000000,24200.000000,1
532423,31296187,20000,20000.00,36,12.49,B,B5,10.0,75000.0,0,...,34.0,2595.45,0.00,45.0,65.0,0.0,0.0,83087.000000,24800.000000,0
532424,29403184,12000,12000.00,60,14.99,C,C5,10.0,59000.0,1,...,29.0,2182.92,0.00,45.0,70.0,0.0,0.0,227812.000000,17800.000000,0
532425,7357607,18725,18725.00,60,20.80,E,E1,8.0,42504.0,0,...,26.0,645.32,0.00,45.0,9.0,0.0,0.0,26010.000000,24200.000000,1
532426,23182668,21000,21000.00,60,16.29,D,D2,1.0,50000.0,0,...,14.0,4619.79,0.00,45.0,78.0,0.0,0.0,29197.000000,23300.000000,0
532427,46122259,10000,10000.00,36,6.39,A,A2,1.0,53000.0,1,...,20.0,467.52,0.00,45.0,44.0,0.0,0.0,47866.000000,21700.000000,0